<html>

<body>
  <mat-toolbar >
    <span style="text-align: center; width: 100%;">
      <button mat-raised-button (click)="randomFill()"
        style=" font-size: 24px; padding-left: 50%; padding-right: 50%; max-width: 100%; max-height: 100%; height: 100%;">
        Roll Characters
      </button>
    </span>

  </mat-toolbar>
  <br>
  <div id="body">

  <div style="display: inline-flex ;">

    <div class="playerRepeater" style="margin: 8px;" *ngFor="let pInd of stateService.createEmptyArray(stateService.state.all.meleePlayerCount)">
        <br *ngIf="pInd % 2 !=0">
      <mat-card  class="player" *ngIf=" pInd + 1 <= stateService.state.all.meleePlayerCount && stateService.numberToPlayersChars(pInd, 'melee').length > 0">
        <mat-card-header>
          <mat-card-title style="color: cadetblue; font-size: 20px; font-weight: bold;"> Roster {{pInd + 1}} </mat-card-title>
        </mat-card-header>
        <div cdkDropListGroup>
          <div class="container" (cdkDropListDropped)="stateService.drop($event, stateService.numberToPlayersChars(pInd, 'melee'))">
            <div cdkDropList class="charImages" *ngFor="let i of stateService.numberToPlayersChars(pInd, 'melee');let ind= index"  [cdkDropListData]="ind" >

              <!-- for each character in the persons roster, if the loop iteration # is less than the number of chars, grab the src from a characters object  -->
              <img cdkDrag [cdkDragData]="ind" (cdkDragEntered)="stateService.entered($event, stateService.numberToPlayersChars(pInd, 'melee'))"
              *ngIf="ind < stateService.state.all.meleeCharCount" src="{{i.img}}" (click) = "stateService.toggleClass($event)" class="scalable" />

            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

    <div class="table">

      <table>

        <tr>

          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Dr. Mario"> <img src="assets/meleeIcons/0.png"
              (click)="toggle('0')" class="charImg"></div>
          <div [ngStyle]="{'opacity': 1, 'display': 'inline' }" id="Mario"> <img src="assets/meleeIcons/1.png"
              (click)="toggle('1')" class="charImg"></div>
          <div [ngStyle]="{'opacity': 1, 'display': 'inline' }" id="Luigi"> <img src="assets/meleeIcons/2.png"
              (click)="toggle('2')" class="charImg"></div>
          <div [ngStyle]="{'opacity': 1, 'display': 'inline' }" id="Bowser"> <img src="assets/meleeIcons/3.png"
              (click)="toggle('3')" class="charImg"></div>
          <div [ngStyle]="{'opacity': 1, 'display': 'inline' }" id="Peach"> <img src="assets/meleeIcons/4.png"
              (click)="toggle('4')" class="charImg"></div>
          <div [ngStyle]="{'opacity': 1, 'display': 'inline' }" id="Yoshi"> <img src="assets/meleeIcons/5.png"
              (click)="toggle('5')" class="charImg"></div>
          <div [ngStyle]="{'opacity': 1, 'display': 'inline' }" id="Donkey Kong"> <img src="assets/meleeIcons/6.png"
              (click)="toggle('6')" class="charImg"></div>
          <div [ngStyle]="{'opacity': 1, 'display': 'inline' }" id="Captain Falcon"> <img src="assets/meleeIcons/7.png"
              (click)="toggle('7')" class="charImg"></div>
          <div [ngStyle]="{'opacity': 1, 'display': 'inline' }" id="Ganondorf"> <img src="assets/meleeIcons/8.png"
              (click)="toggle('8')" class="charImg"></div>
        </tr>
        <tr>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Falco"> <img src="assets/meleeIcons/9.png"
              (click)="toggle('9')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Fox"> <img src="assets/meleeIcons/10.png"
              (click)="toggle('10')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Ness"> <img src="assets/meleeIcons/11.png"
              (click)="toggle('11')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Ice Climbers"> <img src="assets/meleeIcons/12.png"
              (click)="toggle('12')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Kirby"> <img src="assets/meleeIcons/13.png"
              (click)="toggle('13')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Samus"> <img src="assets/meleeIcons/14.png"
              (click)="toggle('14')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Zelda"> <img src="assets/meleeIcons/15.png"
              (click)="toggle('15')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Link"> <img src="assets/meleeIcons/16.png"
              (click)="toggle('16')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Young Link"> <img src="assets/meleeIcons/17.png"
              (click)="toggle('17')" class="charImg"></div>
        </tr>
        <tr class="bottomRow">
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Pichu"> <img src="assets/meleeIcons/18.png"
              (click)="toggle('18')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Pikachu"> <img src="assets/meleeIcons/19.png"
              (click)="toggle('19')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Jigglypuff"> <img src="assets/meleeIcons/20.png"
              (click)="toggle('20')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Mewtwo"> <img src="assets/meleeIcons/21.png"
              (click)="toggle('21')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Mr. GNW"> <img src="assets/meleeIcons/22.png"
              (click)="toggle('22')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Marth"> <img src="assets/meleeIcons/23.png"
              (click)="toggle('23')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Roy"><img src="assets/meleeIcons/24.png"
              (click)="toggle('24')" class="charImg"></div>
          <div [ngStyle]="{'opacity': '', 'display': 'inline' }" id="Sheik"> <img src="assets/meleeIcons/25.png"
              (click)="toggle('25')" class="charImg"></div>
        </tr>

      </table>
    </div>
    <br>

    <span style="white-space:nowarp">
    <!--   <b style="color: white">You've got this, Moky!</b> <img style=" width: 40px; height:40px" src="https://static-cdn.jtvnw.net/emoticons/v2/115234/default/dark/3.0">-->
    </span>

  </div>

</body>

</html>
