.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.card{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    
    width: 20%;
}
mat-card{
   display: inline-block;
   height: auto;
   background-color: #F1F1F1;
   border-color: #3E51B5;
   border-radius: 10px;
   
}
mat-card-content{
    font-size: 16px
}
mat-card-title{
    font-size: 18px
}
body{
    background-color: rgb(54, 70, 80);
}
.btn{
display: flex;
text-align: center;

font-size: 20px;
}
.popupcard{
    display: inline-block;
    height: auto;
    background-color: #F1F1F1;
    border-color: #3E51B5;
    border-radius: 10px;
}