
<h1>AYOOO</h1>
Here's some changes, and upcoming things
<ul>
  <li><h4>Upcoming things</h4></li>
  <li>PRIVATE ROOMS FOR NON-LOCAL PLAY!</li>
  <li>Better display/UI, I'm horrible with design. Player box layouts is a main priority </li>
  <li>Full blown Ultimate support</li>
 <s> <li>Getting this to a real domain</li></s>
 <s> <li>Trying to come up with a good domain name</li></s>
  <li>Feedback/suggestion link</li>
  <s> <li>Hide upcoming characters toggle</li></s>
  <li>Banning chars will change char count to valid number</li>
  <h4>Change Log/Updates</h4>
  <li><h3>6/15/19</h3></li>
  <li>Hovering over a character highlights it</li>
  <li>Contact tab added</li>
  <li>Google Analytics added</li>
  <li>We are now Ironman.gg</li>
  <li>Progress made to get rooms working</li>
  <li>Patreon is now up</li>
  <li>Hide upcoming characters toggle is functional-ish</li>
  
  <li><h3>5/21/19</h3></li>
  <li>First deploy!</li>
  <li>Clicking a character in the menu will disable it!</li>
  <li>Added a free space option, thinking about disabling this by default</li>
  <li>No longer crashes/freezes under certain scenarios</li>

</ul>
<h2>Patreon</h2>
This website does cost me money to keep up every month. While I don't wanna ask anyone for money, <br>
if you DO wanna help out and contribute to the site, you can here.  <br>
<a href="https://www.patreon.com/multiman" target="_blank" > <img style="width: 100px; height: 100px" src="./assets/Patreon_Mark_Coral.jpg"  ></a>