
<h1>AYOOO</h1>
Here's some changes, and upcoming things
<ul>
  <li><h4>Upcoming things</h4></li>
  <li>PRIVATE ROOMS FOR NON-LOCAL PLAY!</li>
  <li>Better display/UI, I'm horrible with design. Player box layouts is a main priority </li>
  <li>Full blown Ultimate support</li>
  <li>Getting this to a real domain</li>
  <li>Trying to come up with a good domain name</li>
  <li>Feedback/suggestion link</li>
  <li>Hide upcoming characters toggle</li>
  <li>Banning chars will change char count to valid number</li>
  <h4>Change Log/Updates</h4>
  <li><h3>Whenever this goes up</h3></li>
  <li>I've been busy with college classes and word recently<br>so progress has really slowed down :(</li>
  <li>Hovering over a character highlights it</li>
  <li>Contact tab added</li>
  <li>Google Analytics added</li>
  <li></li>
  <li><h3>5/21/19</h3></li>
  <li>First deploy!</li>
  <li>Clicking a character in the menu will disable it!</li>
  <li>Added a free space option, thinking about disabling this by default</li>
  <li>No longer crashes/freezes under certain scenarios</li>

</ul>

