
<h1>Ayoo</h1>
Here's some changes, and upcoming things
<ul>
  <li><h4>Upcoming things</h4></li>
  <li>PRIVATE ROOMS FOR NON-LOCAL PLAY!</li>
  <li>Work on styling/layout more</li>
  <s><li>Full blown Ultimate support</li></s>
 <s> <li>Getting this to a real domain</li></s>
 <s> <li>Trying to come up with a good domain name</li></s>
  <s><li>Feedback/suggestion link</li></s>
  <s> <li>Hide upcoming characters toggle</li></s>
  <s><li>Banning chars will change char count to valid number</li>
  </s>

  <h4>Change Log/Updates</h4>
  <li><h3>date</h3></li>
  <li></li>
  <li><h3>9/23/19</h3></li>
  <li>Ultimate is working! <br> <i>there might be some bugs I missed here</i></li>
  <li>Cleaned up some logic in the code, should be a little more efficient</li>
  <li><h3>~ 9/19/19</h3></li>
  <li>Fixed 'Too many characters disabled!' warning. <br> Automatically changes to the highest number of available characters</li>
  <li>Website now has HTTPS</li>
  <li>Made the whole thing look nicer</li>
  <li>Added contact page</li>
  <li>Patreon link added down below</li>
  <li><h3>6/15/19</h3></li>
  <li>Hovering over a character highlights it</li>
  <li>Contact tab added</li>
  <li>Google Analytics added</li>
  <li>We are now Ironman.gg</li>
  <li>Progress made to get rooms working</li>
  <li>Patreon is now up</li>
  <li>Hide upcoming characters toggle is functional-ish</li>
  
  <li><h3>5/21/19</h3></li>
  <li>First deploy!</li>
  <li>Clicking a character in the menu will disable it!</li>
  <li>Added a free space option, thinking about disabling this by default</li>
  <li>No longer crashes/freezes under certain scenarios</li>

</ul>
<h2>Patreon</h2>
This website does cost me money to keep up every month. While I don't wanna ask anyone for money, <br>
if you <i>do</i> wanna help out and contribute to keeping the site up, you can click on the logo in the top right.  <br>
