<!-- <div style="position: fixed">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Contact me</mat-card-title>
    <mat-card-subtitle>Leave feedback, bug, or other in the subject line</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
 
 sender email 

 end of sender email 
 subject 
 <select id="subject" [(ngModel)] = "subj">
<option>Bug</option>
<option>Feedback</option>
<option>Other</option>
</select>
Subject Line
<br>
<br> 

 end subject
 body 
<textarea id="body" style="resize: none;" [(ngModel)] = "body"></textarea>
 end body 
  </mat-card-content>
  <mat-card-actions>
    <a (click) = "mail()"  id="a">Send</a>
    <button mat-button  (click) = "sendEmail()">Send</button>
  
  </mat-card-actions> 
</mat-card>

</div> -->
<html>
  <body>

    <div class="contact">
        <h3>You can email me with any questions, comments, or feedback at <a  style="color: cadetblue" href="mailto:snapish@ironman.gg">snapish@ironman.gg</a></h3>
      </div>
    </body>
  </html>
