.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('/assets/skippy.jpg');
    background-size: cover;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  textarea {
    width: 400px;
    height: 100px;
  }
  select{
      width: 150px;

  }
.contact{
  display: flex;
  justify-content: center;
}
  body{
    background-color: rgb(54, 70, 80);
    
    overflow: hidden
  }