<html>
  <body>
    <mat-toolbar>
      <span style="text-align: center; width: 100%">
        <button
          mat-raised-button
          (click)="randomFill()"
          style="
            font-size: 24px;
            padding-left: 50%;
            padding-right: 50%;
            max-width: 100%;
            max-height: 100%;
            height: 100%;
          "
        >
          Roll Characters
        </button>
      </span>
    </mat-toolbar>
    <br />

    <div id="body">
      <div style="display: inline-flex">
        <div
          class="playerRepeater"
          style="margin: 8px"
          *ngFor="
            let pInd of stateService.createEmptyArray(
              stateService.state.all.rivalsPlayerCount
            )
          "
        >
          <mat-card
            class="player"
            *ngIf="
              pInd + 1 <= stateService.state.all.rivalsPlayerCount &&
              stateService.numberToPlayersChars(pInd, 'rivals').length > 0
            "
          >
            <mat-card-header>
              <mat-card-title
                style="color: cadetblue; font-size: 20px; font-weight: bold"
              >
                Roster {{ pInd + 1 }}
              </mat-card-title>
            </mat-card-header>
            <div cdkDropListGroup>
              <div
                class="container"
                (cdkDropListDropped)="
                  stateService.drop(
                    $event,
                    stateService.numberToPlayersChars(pInd, 'rivals')
                  )
                "
              >
                <div
                  cdkDropList
                  class="charImages"
                  *ngFor="
                    let i of stateService.numberToPlayersChars(pInd, 'rivals');
                    let ind = index
                  "
                  [cdkDropListData]="ind"
                >
                  <!-- for each character in the persons roster, if the loop iteration # is less than the number of chars, grab the src from a characters object  -->
                  <img
                    cdkDrag
                    [cdkDragData]="ind"
                    (cdkDragEntered)="
                      stateService.entered(
                        $event,
                        stateService.numberToPlayersChars(pInd, 'rivals')
                      )
                    "
                    *ngIf="ind < stateService.state.all.rivalsCharCount"
                    src="{{ i.img }}"
                    (click)="stateService.toggleClass($event)"
                  />
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="table">
        <table>
          <tr *ngFor="let character of characters">
            <div
              [ngStyle]="{ opacity: 1, display: 'inline' }"
              [id]="character.id"
            >
              <img
                [src]="character.src"
                (click)="toggle(character.code)"
                class="charImg"
              />
            </div>
          </tr>
        </table>
      </div>
      <br />
    </div>
  </body>
</html>
