<html>
  <body> 
      <mat-toolbar >
        <span style="text-align: center; width: 100%;">
          <button mat-raised-button (click)="randomFill()"
          style=" font-size: 24px; padding-left: 50%; padding-right: 50%; max-width: 100%; max-height: 100%; height: 100%;">
          Roll Characters
          </button>
        </span>
        </mat-toolbar>
        <br>
  
   <div id="body">   
      <div id="players" *ngIf="stateService.state.ultimate.playerAChars.length > 0   " >
       
          <!-- PLAYER A -->
          <mat-card id="player" >
            <mat-card-header>
              <mat-card-title style="color: red; font-size: 20px; font-weight: bold" > Player 1 </mat-card-title>
             </mat-card-header>
             <div id="playerA">
                <div  class="container">
               <!-- *ngFor="let item of items; let i=index" -->
               <div *ngFor="let i of stateService.state.ultimate.playerAChars;let ind= index">
                 
                 <div *ngIf="ind < stateService.state.all.ultimateCharCount"> <img src = {{i.img}} style="float: left" /></div>
               </div>
               </div>
   
               </div>
             </mat-card>
   
   
   
             <!-- playerB  -->
             <mat-card id="player"  *ngIf="stateService.state.all.ultimatePlayerCount >=2" >
               <mat-card-header>
                 <mat-card-title style="color: mediumblue; font-size: 20px; font-weight: bold">Player 2</mat-card-title>
               </mat-card-header>  
               <div id="playerB">
                  <div  class="container" > 
                 <div *ngFor="let i of stateService.state.ultimate.playerBChars; let ind = index">
                   <div *ngIf="ind < stateService.state.all.ultimateCharCount"> <img src = {{i.img}} style="float: left" /></div>
                 </div>
                 </div>
          
                 </div>
               </mat-card>
   
   
   
               <!-- PLAYER C -->
               <mat-card id="player"  *ngIf="stateService.state.all.ultimatePlayerCount >= 3" >
                 <mat-card-header>
                   <mat-card-title style="color: goldenrod; font-size: 20px; font-weight: bold">Player 3</mat-card-title>
                 </mat-card-header>
                 <div id="playerC">
                    <div  class="container" > 
                   <div *ngFor="let i of stateService.state.ultimate.playerCChars; let ind = index">
                     <div *ngIf="ind < stateService.state.all.ultimateCharCount"> <img src = {{i.img}} style="float: left" /></div>
                   </div>        
                   </div>        
                  
                 </div>
               </mat-card>
   
   
   
               <!-- player D -->
               <mat-card id="player" *ngIf="stateService.state.all.ultimatePlayerCount >= 4">
                 <mat-card-header>
                   <mat-card-title style="color: greenyellow; font-size: 20px; font-weight: bold">Player 4</mat-card-title>
                 </mat-card-header>
                 <div id="playerD">
                    <div  class="container" > 
                   <div *ngFor="let i of stateService.state.ultimate.playerDChars; let ind = index">
                     <div *ngIf="ind < stateService.state.all.ultimateCharCount"> <img src = {{i.img}} style="float: left" /></div>
                   </div>   
                   </div>   
           
                 </div>
            
             </mat-card> 
            
                            <!-- player E -->
                            <mat-card id="player" *ngIf="stateService.state.all.ultimatePlayerCount >= 5">
                              <mat-card-header>
                                <mat-card-title style="color: brown; font-size: 20px; font-weight: bold">Player 5</mat-card-title>
                              </mat-card-header>
                              <div id="playerE">
                                  <div  class="container" > 
                                <div *ngFor="let i of stateService.state.ultimate.playerEChars; let ind = index">
                                  <div *ngIf="ind < stateService.state.all.ultimateCharCount"> <img src = {{i.img}} style="float: left" /></div>
                                </div>   
                                </div>   
                            
                              </div>
                        
                          </mat-card>
                          
             
                            <!-- player F -->
                            <mat-card id="player" *ngIf="stateService.state.all.ultimatePlayerCount >= 6">
                              <mat-card-header>
                                <mat-card-title style="color: olive; font-size: 20px; font-weight: bold">Player 6</mat-card-title>
                              </mat-card-header>
                              <div id="playerF">
                                  <div  class="container" > 
                                <div *ngFor="let i of stateService.state.ultimate.playerFChars; let ind = index">
                                  <div *ngIf="ind < stateService.state.all.ultimateCharCount"> <img src = {{i.img}} style="float: left" /></div>
                                </div>   
                                </div>   
                          
                              </div>
                         
                          </mat-card>

                            <!-- player g -->
                            <mat-card id="player" *ngIf="stateService.state.all.ultimatePlayerCount >= 7">
                              <mat-card-header>
                                <mat-card-title style="color:forestgreen; font-size: 20px; font-weight: bold">Player 7</mat-card-title>
                              </mat-card-header>
                              <div id="playerG">
                                  <div  class="container" > 
                                <div *ngFor="let i of stateService.state.ultimate.playerGChars; let ind = index">
                                  <div *ngIf="ind < stateService.state.all.ultimateCharCount"> <img src = {{i.img}} style="float: left" /></div>
                                </div>   
                                </div>   
                               
                              </div>
                         
                          </mat-card>

                            <!-- player h -->
                            <mat-card id="player" *ngIf="stateService.state.all.ultimatePlayerCount >= 8">
                              <mat-card-header>
                                <mat-card-title style="color: darkmagenta; font-size: 20px; font-weight: bold">Player 8</mat-card-title>
                              </mat-card-header>

                              <div id="playerH">
                                  <div  class="container" > 
                                <div *ngFor="let i of stateService.state.ultimate.playerGChars; let ind = index">
                                  <div *ngIf="ind < stateService.state.all.ultimateCharCount"> <img src = {{i.img}} style="float: left" /></div>
                                </div>   
                                </div>   
                               
                           
                            </div>
                          </mat-card>
            </div>
        <div class="table">
            <table > 
                
                <tr> 
                    <!-- 12 acorss 5 down, 7 on bottom -->
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }"id="Mario" >  <img src="assets/ultimateIcons/67.jpeg" (click) = "toggle('67')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Donkey Kong" >  <img src="assets/ultimateIcons/68.jpeg" (click) = "toggle('68')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Link" > <img src="assets/ultimateIcons/69.jpeg" (click) = "toggle('69')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Samus" > <img src="assets/ultimateIcons/70.jpeg" (click) = "toggle('70')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Dark Samus" > <img src="assets/ultimateIcons/71.jpeg" (click) = "toggle('71')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Yoshi" > <img src="assets/ultimateIcons/72.jpeg" (click) = "toggle('72')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Kirby" > <img src="assets/ultimateIcons/73.jpeg" (click) = "toggle('73')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Fox" > <img src="assets/ultimateIcons/74.jpeg" (click) = "toggle('74')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Pikachu" > <img src="assets/ultimateIcons/75.jpeg" (click) = "toggle('75')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Luigi"> <img src="assets/ultimateIcons/76.jpeg" (click) = "toggle('76')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Ness"> <img src="assets/ultimateIcons/77.jpeg" (click) = "toggle('77')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Captain Falcon"> <img src="assets/ultimateIcons/78.jpeg" (click) = "toggle('78')" class="charImg"> </div>


                    <!-- <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id=" "> <img src="assets/ultimateIcons/.jpeg" (click) = "toggle('')" class="charImg"> </div> -->
                  </tr>
                  <tr>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Jigglypuff"> <img src="assets/ultimateIcons/79.jpeg" (click) = "toggle('79')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Peach"> <img src="assets/ultimateIcons/80.jpeg" (click) = "toggle('80')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Daisy"> <img src="assets/ultimateIcons/81.jpeg" (click) = "toggle('81')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Bowser"> <img src="assets/ultimateIcons/82.jpeg" (click) = "toggle('82')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Ice Climbers"> <img src="assets/ultimateIcons/83.jpeg" (click) = "toggle('83')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Sheik"> <img src="assets/ultimateIcons/84.jpeg" (click) = "toggle('84')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Zelda"> <img src="assets/ultimateIcons/85.jpeg" (click) = "toggle('85')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Dr. Mario"> <img src="assets/ultimateIcons/86.jpeg" (click) = "toggle('86')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Pichu"> <img src="assets/ultimateIcons/87.jpeg" (click) = "toggle('87')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Falco"> <img src="assets/ultimateIcons/88.jpeg" (click) = "toggle('88')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Marth"> <img src="assets/ultimateIcons/89.jpeg" (click) = "toggle('89')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Lucina"> <img src="assets/ultimateIcons/90.jpeg" (click) = "toggle('90')" class="charImg"> </div>
                  </tr>
                  <tr>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Young Link"> <img src="assets/ultimateIcons/91.jpeg" (click) = "toggle('91')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Ganondorf"> <img src="assets/ultimateIcons/92.jpeg" (click) = "toggle('92')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Mewtwo"> <img src="assets/ultimateIcons/93.jpeg" (click) = "toggle('93')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Roy"> <img src="assets/ultimateIcons/94.jpeg" (click) = "toggle('94')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Chrom"> <img src="assets/ultimateIcons/95.jpeg" (click) = "toggle('95')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="GNW"> <img src="assets/ultimateIcons/96.jpeg" (click) = "toggle('96')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Meta Knight"> <img src="assets/ultimateIcons/97.jpeg" (click) = "toggle('97')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Pit"> <img src="assets/ultimateIcons/98.jpeg" (click) = "toggle('98')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Dark Pit"> <img src="assets/ultimateIcons/99.jpeg" (click) = "toggle('99')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Zero Suit Samus"> <img src="assets/ultimateIcons/100.jpeg" (click) = "toggle('100')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Wario"> <img src="assets/ultimateIcons/101.jpeg" (click) = "toggle('101')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Snake"> <img src="assets/ultimateIcons/102.jpeg" (click) = "toggle('102')" class="charImg"> </div>
                  </tr>
                  <tr>
                      <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Ike"> <img src="assets/ultimateIcons/103.jpeg" (click) = "toggle('103')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Pokemon Trainer"> <img src="assets/ultimateIcons/104.jpeg" (click) = "toggle('104')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Diddy Kong"> <img src="assets/ultimateIcons/105.jpeg" (click) = "toggle('105')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Lucas"> <img src="assets/ultimateIcons/106.jpeg" (click) = "toggle('106')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Sonic"> <img src="assets/ultimateIcons/107.jpeg" (click) = "toggle('107')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="King Dedede"> <img src="assets/ultimateIcons/108.jpeg" (click) = "toggle('108')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Olimar"> <img src="assets/ultimateIcons/109.jpeg" (click) = "toggle('109')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Lucario"> <img src="assets/ultimateIcons/110.jpeg" (click) = "toggle('110')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="R.O.B"> <img src="assets/ultimateIcons/111.jpeg" (click) = "toggle('111')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Toon Link"> <img src="assets/ultimateIcons/112.jpeg" (click) = "toggle('112')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Wolf"> <img src="assets/ultimateIcons/113.jpeg" (click) = "toggle('113')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Villager"> <img src="assets/ultimateIcons/114.jpeg" (click) = "toggle('114')" class="charImg"> </div>
                  </tr>
                  <tr>
                      <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Mega Man"> <img src="assets/ultimateIcons/115.jpeg" (click) = "toggle('115')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Wii Fit Trainer"> <img src="assets/ultimateIcons/116.jpeg" (click) = "toggle('116')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Rosalina"> <img src="assets/ultimateIcons/117.jpeg" (click) = "toggle('117')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Little Mac"> <img src="assets/ultimateIcons/118.jpeg" (click) = "toggle('118')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Greninja"> <img src="assets/ultimateIcons/119.jpeg" (click) = "toggle('119')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Palutena"> <img src="assets/ultimateIcons/120.jpeg" (click) = "toggle('120')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Pac-Man"> <img src="assets/ultimateIcons/121.jpeg" (click) = "toggle('121')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Robin"> <img src="assets/ultimateIcons/122.jpeg" (click) = "toggle('122')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Shulk"> <img src="assets/ultimateIcons/123.jpeg" (click) = "toggle('123')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Bowser Jr."> <img src="assets/ultimateIcons/124.jpeg" (click) = "toggle('124')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Duck Hunt"> <img src="assets/ultimateIcons/125.jpeg" (click) = "toggle('125')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Ryu"> <img src="assets/ultimateIcons/126.jpeg" (click) = "toggle('126')" class="charImg"> </div>
                  </tr>
                  <tr>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Ken"> <img src="assets/ultimateIcons/127.jpeg" (click) = "toggle('127')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Cloud"> <img src="assets/ultimateIcons/128.jpeg" (click) = "toggle('128')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Corrin"> <img src="assets/ultimateIcons/129.jpeg" (click) = "toggle('129')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Bayonetta"> <img src="assets/ultimateIcons/130.jpeg" (click) = "toggle('130')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Inkling"> <img src="assets/ultimateIcons/131.jpeg" (click) = "toggle('131')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Ridley"> <img src="assets/ultimateIcons/132.jpeg" (click) = "toggle('132')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Simon"> <img src="assets/ultimateIcons/133.jpeg" (click) = "toggle('133')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Richter"> <img src="assets/ultimateIcons/134.jpeg" (click) = "toggle('134')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="King K. Rool"> <img src="assets/ultimateIcons/135.jpeg" (click) = "toggle('135')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Isabelle"> <img src="assets/ultimateIcons/136.jpeg" (click) = "toggle('136')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Incineroar"> <img src="assets/ultimateIcons/137.jpeg" (click) = "toggle('137')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Piranha Plant"> <img src="assets/ultimateIcons/141.jpeg" (click) = "toggle('141')" class="charImg"> </div>
                  </tr>
                  <tr style="text-align: center">
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Joker"> <img src="assets/ultimateIcons/142.jpeg" (click) = "toggle('142')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Hero"> <img src="assets/ultimateIcons/144.jpeg" (click) = "toggle('144')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Banjo"> <img src="assets/ultimateIcons/143.jpeg" (click) = "toggle('143')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Terry"> <img src="assets/ultimateIcons/145.jpeg" (click) = "toggle('145')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Byleth"> <img src="assets/ultimateIcons/146.jpeg" (click) = "toggle('146')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Minmin"> <img src="assets/ultimateIcons/147.jpeg" (click) = "toggle('147')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Mii Brawler"> <img src="assets/ultimateIcons/138.jpeg" (click) = "toggle('138')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Mii Swordfighter"> <img src="assets/ultimateIcons/139.jpeg" (click) = "toggle('139')" class="charImg"> </div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Mii Gunner"> <img src="assets/ultimateIcons/140.jpeg" (click) = "toggle('140')" class="charImg"> </div>
                    
                  </tr>
                  
                </table>
              </div>
             
                    </div>                   
                  </body>
                  </html>
