<head>
  <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
  <!-- <script src="https://kit.fontawesome.com/2de95dc392.js" crossorigin="anonymous"></script> -->
  <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>

</head>
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport [disableClose]="(isHandset$ | async) ? 'false' : 'true'" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode] = "(isHandset$ | async) ? 'over' : 'side' " [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="title">
      <div style="font-size: 37px; margin-top: 10px;">Menu</div>
    </mat-toolbar>
    <mat-nav-list>


      <div class="menu">
        <img src="assets/meleeIcons/meleelogo.png" routerLink="/melee" queryParamsHandling="preserve"  (click)="transition('melee')" class="gameIcons">
        <img src="assets/ultimateIcons/ultimatelogo.png" routerLink="/ultimate" queryParamsHandling="preserve" (click)="transition('ultimate')" class="gameIcons">
        <img src="assets/pmIcons/pmlogo.png" routerLink="/pm" queryParamsHandling="preserve"  (click)="transition('pmv')" class="pm gameIcons">
        <img src="assets/rivalsIcons/logo.png" routerLink="/rivals" queryParamsHandling="preserve"  (click)="transition('rivals')" class="gameIcons">
      </div>
      <hr color="white">
       <div class="menuOption">
        Character Count
      </div>

      <div *ngIf="currentView == 'melee'" class="meleeCharCount">
        <div class="charCount" #drop1 ngbDropdown>
          <button class="btn btn-info" id="dropdownConfig" data-toggle="dropdown" ngbDropdownToggle
            (click)=" checkDropDown(drop1)">
            <img src="https://img.icons8.com/ios/30/000000/sword.png" /> {{stateService.state.all.meleeCharCount}}</button>
              <div  class="dropdownNumbers" ngbDropdownMenu aria-labelledby="dropdownConfig">
                <button *ngFor="let n of meleeCharCount; count as ind" ngbDropdownItem (click)="setMeleeCharacterCount(ind - n +1)">{{ind - n +1}}</button>
            </div>
        </div>
      </div>


  <div *ngIf="currentView == 'ultimate'" class="ultimateCharCount">
    <div class="charCount" #drop2 ngbDropdown>
      <button class="btn btn-info" id="dropdownConfig" ngbDropdownToggle (click)=" checkDropDown(drop2)">
        <img src="https://img.icons8.com/ios/30/000000/sword.png" /> {{stateService.state.all.ultimateCharCount}}</button>
        <div class="dropdownNumbers" ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button *ngFor="let n of ultimateCharCount; count as ind" ngbDropdownItem (click)="setUltimateCharacterCount(ind - n + 1)">{{ind - n +1}}</button>
        </div>
      </div>
    </div>

    <div *ngIf="currentView == 'pmv'"  class="pmCharCount">
      <div class="charCount" #drop3 ngbDropdown>
        <button class="btn btn-info" id="dropdownConfig" ngbDropdownToggle (click)=" checkDropDown(drop3)">
          <img src="https://img.icons8.com/ios/30/000000/sword.png" /> {{stateService.state.all.pmCharCount}}</button>
          <div class="dropdownNumbers" ngbDropdownMenu aria-labelledby="dropdownConfig">
            <button *ngFor="let n of pmCharCount; count as ind" ngbDropdownItem (click)="setPMCharacterCount(ind - n+1)">{{ind - n + 1}}</button>
          </div>
        </div>
      </div>

    <div *ngIf="currentView == 'rivals'"  class="pmCharCount">
      <div class="charCount" #drop4 ngbDropdown>
        <button class="btn btn-info" id="dropdownConfig" ngbDropdownToggle (click)=" checkDropDown(drop4)">
          <img src="https://img.icons8.com/ios/30/000000/sword.png" /> {{stateService.state.all.rivalsCharCount}}</button>
          <div class="dropdownNumbers" ngbDropdownMenu aria-labelledby="dropdownConfig">
            <button *ngFor="let n of rivalsCharCount; count as ind" ngbDropdownItem (click)="setRivalsCharacterCount(ind - n+1)">{{ind - n + 1}}</button>
          </div>
        </div>
      </div>

      <div class="menuOption">
        Player Count
      </div>

      <div *ngIf="currentView == 'melee'" class="charCount" #drop4 ngbDropdown>
        <button class="btn btn-info playerdrop" id="dropdownConfig" ngbDropdownToggle (click)=" checkDropDown(drop4)">
          <img src="https://img.icons8.com/ios/30/000000/head-to-head.png" />{{stateService.state.all.meleePlayerCount}}</button>
        <div class="dropdownNumbers" ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button *ngFor="let n of mpc; count as ind" ngbDropdownItem (click)="setMeleePlayerCount(ind - n +1)">{{ind - n + 1}}</button>
        </div>
      </div>
      <div *ngIf="currentView == 'pmv'" class="charCount" #drop4 ngbDropdown>
        <button class="btn btn-info playerdrop" id="dropdownConfig" ngbDropdownToggle (click)=" checkDropDown(drop4)">
          <img src="https://img.icons8.com/ios/30/000000/head-to-head.png" />{{stateService.state.all.pmPlayerCount}}</button>
        <div class="dropdownNumbers" ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button *ngFor="let n of pmpc; count as ind" ngbDropdownItem (click)="setPMPlayerCount(ind - n +1)">{{ind - n + 1}}</button>
        </div>
      </div>

      <div *ngIf="currentView == 'ultimate'" class="charCount" #drop4 ngbDropdown>
        <button class="btn btn-info playerdrop" id="dropdownConfig" ngbDropdownToggle (click)=" checkDropDown(drop4)">
          <img src="https://img.icons8.com/ios/30/000000/head-to-head.png" />{{stateService.state.all.ultimatePlayerCount}}</button>
        <div class="dropdownNumbers" ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button *ngFor="let n of upc; count as ind" ngbDropdownItem (click)="setUltimatePlayerCount(ind - n +1)">{{ind - n + 1}}</button>
        </div>
      </div>

      <div *ngIf="currentView == 'rivals'" class="charCount" #drop5 ngbDropdown>
        <button class="btn btn-info playerdrop" id="dropdownConfig" ngbDropdownToggle (click)=" checkDropDown(drop5)">
          <img src="https://img.icons8.com/ios/30/000000/head-to-head.png" />{{stateService.state.all.rivalsPlayerCount}}</button>
        <div class="dropdownNumbers" ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button *ngFor="let n of rpc; count as ind" ngbDropdownItem (click)="setRivalsPlayerCount(ind - n +1)">{{ind - n + 1}}</button>
        </div>
      </div>


<br>
      <div class="menuOption">
        Website Help
        <br>

      </div>

      <div class="center">
        <button class="btn btn-md btn-info other-opts-btn" (click)="open(content)">Site Features</button>
      </div>

      <div class="center">
        <ng-template #contributePop>You can view the <a style="color:blue"
            href="https://github.com/snapish/multiman">git repository </a> and contribute with coding, and get in the developers discord.
            <br>
            You may also contribute financially via <a style="color: blue;" href="https://www.patreon.com/ironman">Patreon</a> and help keep up server costs

          </ng-template>
        <button type="button" class="btn btn-info other-opts-btn" placement="right" [autoClose]="'outside'"  [ngbPopover]="contributePop" container="body">
          Contribute
        </button>
      </div>


      <div class="center">
        <ng-template #popTitle>
          You can email me with any questions or feedback at <a style="color:blue" href="mailto:toupin@ironman.gg">toupin@ironman.gg</a>
          <br>
          There is a <a style="color:blue" href="https://discord.gg/YN5RBky">discord server</a> for anyone to join :) <br> <i>It's still under construction a little</i></ng-template>

        <button type="button" class="btn btn-info other-opts-btn" placement="right" [autoClose]="'outside'" [ngbPopover]="popTitle" container="body">
          Contact Me
        </button>
      </div>

      <ng-template #content let-modal>
        <div class="modal-header helpheader">
          <h3 class="title" >How do I use this site?</h3>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body helpbox">
          <ol >

            <li *ngFor="let line of helpPageSteps; index as ind;"> {{line}} </li>

          </ol>

          <!-- <button [cdkCopyToClipboard] = "roomCode" class="btn copyButton">Copy my URL</button> <br> -->

          <div class="modal-footer">
            <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Exit</button>
          </div>
        </div>
      </ng-template>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isHandset$ | async">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>
