<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="title">
      <div>Ironmans</div>
    </mat-toolbar>
    <hr>
    <mat-nav-list>
      <div class="menu">
        <img src="assets/meleeIcons/meleelogo.png" (click)="transition('melee')">
        <img src="assets/ultimateIcons/ultimatelogo.png" (click)="transition('ultimate')">
        <img src="assets/pmIcons/pmlogo.png" class="pm" (click)="transition('pmv')">
      </div>
<hr>
<!-- <div class="room">
  <button mat-raised-button>
    Copy My Room Code
  </button>
  
  <input type="text" placeholder="Room Code" style="text-align: center;">

  <button mat-raised-button>
    Paste & Join Room
  </button>
</div> -->
New design is a work in progress :)<br>

</mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: rgb(54, 70, 80);">
    <mat-toolbar color="primary" *ngIf="isHandset$ | async">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>Multiman</span> -->
    </mat-toolbar>


    <div class="melee">
      <app-melee></app-melee>
    </div>
    <div class="ultimate">
      <app-ultimate></app-ultimate>
    </div>
    <div class="pmv">
      <app-projectm [attr.disabled]="true" ></app-projectm>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>