<body>
  <!-- <mat-sidenav-container class="example-container" >
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container> -->
  
  <mat-toolbar color="primary" style="display: flex; justify-content: center">
    <mat-toolbar-row >
      <span style=" display: flex ;justify-content: center; font-size: 22px; ">Random Ironmans!</span>
      <span class="spacer"></span>
  <div class="patreon">
    <a href="https://www.patreon.com/multiman" target="_blank" > <img style="width: 45px; height: 45px; margin-top: 8px" src="./assets/Patreon_Mark_Coral.png"  ></a>
  </div>
     
    
      
      <!-- <i class="material-icons">sentiment_satisfied_alt</i> -->
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-tab-group [selectedIndex] = "selectedIndex" mat-stretch-tabs style="background-color: rgb(241, 241, 241)" mat-align-tabs="center">
    <!-- <mat-tab label="extras" index="5" ><app-modes></app-modes> </mat-tab> -->
    <mat-tab label="Melee" index = "0"><app-melee></app-melee></mat-tab>
      <mat-tab label="Ultimate" index="1" > <app-ultimate></app-ultimate></mat-tab>
      <mat-tab label="Project M" index="2" ><app-projectm></app-projectm> </mat-tab>
      <mat-tab label="About" index="3" ><app-about></app-about> </mat-tab>
      <mat-tab label="Contact" index="4" ><app-contact></app-contact> </mat-tab> 
      
    </mat-tab-group>
  </body>
    