<mat-card id="player">
  <mat-card-header>
    <mat-card-title style="color: red; font-size: 20px; font-weight: bold;"> Player 1 </mat-card-title>
  </mat-card-header>
  <div id="playerA" cdkDropListGroup>
    <div class="container" (cdkDropListDropped)="stateService.drop($event, stateService.state.melee.playerAChars)">
      <div cdkDropList class="charImages" *ngFor="let i of stateService.state.melee.playerAChars;let ind= index"  [cdkDropListData]="ind" > 
        <!-- for each character in the persons roster, if the loop iteration # is less than the number of chars, grab the src from a characters object  -->
        <img (click)="ping()" cdkDrag [cdkDragData]="ind" (cdkDragEntered)="stateService.entered($event, stateService.state.melee.playerAChars)" *ngIf="ind < stateService.state.all.meleeCharCount && stateService.state.melee.playerAChars[ind] != null" src="{{i.img}}" /> 
      </div>
    </div>
  </div>
</mat-card>

<button mat-raised-button (click)="meleeComp.randomFill()">
Roll Characters
</button>