<body>
 <div style="max-height:  fit-content;">

<div class = "title">
<div class="header">
  Welcome to Ironman.gg!
</div>
</div>
<div class="title">

  <div class = "home"> Home of random ironmans</div>
</div>
<hr>
<div class="usage">
  How to use the site
</div>
<div class="explainText">

    > Send your URL to a friend to let them join your session<br> 
    <i>this is only currently available with Melee, other games coming soon</i><br> 
    > Go the tab of the game you want to play<br>
    > Select the number of characters and players you want<br>
    > Click any characters to disable them. They won't be in the randomizer<br>
    > Enable the Free Space slot for whatever you want it to be<br>
    <i>examples: Pick any character, let your opponent pick, skip, skip another character...</i><br>
    > Click the roll characters button and start playing!

</div>

<hr>
<div class="usage">
  Other quick things
</div>

<div class="explainText">
    > You can see all this info again in the "About" tab<br>
    > You can see what is currently under development here as well<br>
    > Feel free to contact me with feedback/suggestions/problems at <a style="color: cadetblue" href="mailto:snapish@ironman.gg">snapish@ironman.gg</a><br>
    > Have fun!
</div>


  <button (click) = "close()" mat-button type>Close and don't show again</button>

</div> 

</body>
