<html>
  <body> 
      <mat-toolbar>
        <span style="text-align: center; width: 100%;">
          <button mat-raised-button (click)="randomFill()"
          style=" font-size: 24px; padding-left: 50%; padding-right: 50%; max-width: 100%; max-height: 100%; height: 100%;">
          Roll Characters
          </button>
        </span>
        </mat-toolbar>
        <br>
   
   <div id="body">
     <!-- <button mat-raised-button (click) = "randomFill()" style="display: inline">Roll Characters</button> -->
     <!-- <button mat-raised-button (click) = "clearDisabled()" style="display: inline">Enable All</button> -->
     <!-- 9 columns 3 rows -->
     
     <div id="players" *ngIf="stateService.state.projectm.playerAChars.length != 0 " >
       
       <!-- PLAYER A -->
       <mat-card id="player" >
         <mat-card-header>
           <mat-card-title style="color: red; font-size: 20px; font-weight: bold;" > Player 1 </mat-card-title>
          </mat-card-header>
          <div id="playerA" >
            
            <div  class="container" > 
            <!-- *ngFor="let item of items; let i=index" -->
            <div class="charImages" *ngFor="let i of stateService.state.projectm.playerAChars;let ind= index" >
                <!-- style="float: left" was in the div below -->
                <div *ngIf="ind < stateService.state.all.PMCharCount"> <img src = {{i.img}}/> </div>
              </div>
            </div>
            </div>
          </mat-card>



          <!-- playerB  -->
          <mat-card id="player"  *ngIf="stateService.state.all.currentPlayerCount >=2" >
            <mat-card-header>
              <mat-card-title style="color: mediumblue; font-size: 20px; font-weight: bold">Player 2</mat-card-title>
            </mat-card-header>  
            <div id="playerB">
                <div  class="container" >
              <div *ngFor="let i of stateService.state.projectm.playerBChars; let ind = index">
                <div *ngIf="ind < stateService.state.all.PMCharCount"> <img src = {{i.img}}  /></div>
              </div>
              </div>
              </div>
            </mat-card>



            <!-- PLAYER C -->
            <mat-card id="player"  *ngIf="stateService.state.all.currentPlayerCount >= 3" >
              <mat-card-header>
                <mat-card-title style="color: goldenrod; font-size: 20px; font-weight: bold">Player 3</mat-card-title>
              </mat-card-header>
              <div id="playerC">
                  <div  class="container" >
                <div *ngFor="let i of stateService.state.projectm.playerCChars; let ind = index">
                  <div *ngIf="ind < stateService.state.all.PMCharCount"> <img src = {{i.img}} /></div>
                </div>        
                </div>        
              </div>
            </mat-card>



            <!-- player D -->
            <mat-card id="player" *ngIf="stateService.state.all.currentPlayerCount == 4">
              <mat-card-header>
                <mat-card-title style="color: greenyellow; font-size: 20px; font-weight: bold">Player 4</mat-card-title>
              </mat-card-header>
              <div id="playerD">
                  <div  class="container" >
                <div *ngFor="let i of stateService.state.projectm.playerDChars; let ind = index">
                  <div *ngIf="ind < stateService.state.all.PMCharCount"> <img src = {{i.img}}  /></div>
                </div>   
                </div>   
            </div>
          </mat-card>
          
        </div>
        <div class="table">
            <table > 
                
                <tr> 
                    
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Wario" >  <img src="assets/pmIcons/26.png" (click) = "toggle('26')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Mario" >  <img src="assets/pmIcons/27.png" (click) = "toggle('27')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Luigi" > <img src="assets/pmIcons/28.png" (click) = "toggle('28')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Peach" > <img src="assets/pmIcons/29.png" (click) = "toggle('29')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Bowser" > <img src="assets/pmIcons/30.png" (click) = "toggle('30')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Yoshi" > <img src="assets/pmIcons/31.png" (click) = "toggle('31')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Donkey Kong" > <img src="assets/pmIcons/32.png" (click) = "toggle('32')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Diddy Kong" > <img src="assets/pmIcons/33.png" (click) = "toggle('33')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': 1, 'display': 'inline' }" id="Captain Falcon" > <img src="assets/pmIcons/34.png" (click) = "toggle('34')" class="charImg"></div>
                  </tr>
                  <tr>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Wolf" > <img src="assets/pmIcons/35.png" (click) = "toggle('35')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Fox" > <img src="assets/pmIcons/36.png" (click) = "toggle('36')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Falco" > <img src="assets/pmIcons/37.png" (click) = "toggle('37')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Ice Climbers" > <img src="assets/pmIcons/38.png" (click) = "toggle('38')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Zelda" > <img src="assets/pmIcons/39.png" (click) = "toggle('39')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Sheik" >  <img src="assets/pmIcons/40.png" (click) = "toggle('40')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Link" > <img src="assets/pmIcons/41.png" (click) = "toggle('41')"class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Toon Link" > <img src="assets/pmIcons/42.png" (click) = "toggle('42')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Ganondorf" > <img src="assets/pmIcons/43.png" (click) = "toggle('43')" class="charImg"></div>
                  </tr>
                  <tr>
                    
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Mewtwo" > <img src="assets/pmIcons/44.png" (click) = "toggle('44')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Lucario" > <img src="assets/pmIcons/45.png" (click) = "toggle('45')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Pikachu" > <img src="assets/pmIcons/46.png" (click) = "toggle('46')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Jigglypuff" > <img src="assets/pmIcons/47.png" (click) = "toggle('47')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Squirtle" > <img src="assets/pmIcons/48.png" (click) = "toggle('48')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Ivysaur" >  <img src="assets/pmIcons/49.png" (click) = "toggle('49')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Charizard" ><img src="assets/pmIcons/50.png" (click) = "toggle('50')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Samus" > <img src="assets/pmIcons/51.png" (click) = "toggle('51')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Zero Suit Samus" > <img src="assets/pmIcons/52.png" (click) = "toggle('52')" class="charImg" ></div>
                  </tr>
                  <tr>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Lucas" > <img src="assets/pmIcons/53.png" (click) = "toggle('53')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Ness" > <img src="assets/pmIcons/54.png" (click) = "toggle('54')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Pit" > <img src="assets/pmIcons/55.png" (click) = "toggle('55')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Kirby" > <img src="assets/pmIcons/56.png" (click) = "toggle('56')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Meta Knight" > <img src="assets/pmIcons/57.png" (click) = "toggle('57')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Dedede" > <img src="assets/pmIcons/58.png" (click) = "toggle('58')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Ike" >  <img src="assets/pmIcons/59.png" (click) = "toggle('59')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Marth" ><img src="assets/pmIcons/60.png" (click) = "toggle('60')" class="charImg"></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Roy" > <img src="assets/pmIcons/61.png" (click) = "toggle('61')" class="charImg" ></div>
                  </tr>
                  <tr>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Olimar" > <img src="assets/pmIcons/62.png" (click) = "toggle('62')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="ROB" > <img src="assets/pmIcons/63.png" (click) = "toggle('63')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="GNW" > <img src="assets/pmIcons/64.png" (click) = "toggle('64')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Snake" > <img src="assets/pmIcons/65.png" (click) = "toggle('65')" class="charImg" ></div>
                    <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Sonic" > <img src="assets/pmIcons/66.png" (click) = "toggle('66')" class="charImg" ></div>
                     <!-- <div [ngStyle] = "{'opacity': '', 'display': 'inline' }" id="Free Space" > <img src="assets/pmIcons/42.png" (click) = "toggle('Free Space')" class="charImg"></div> -->
                    </tr>
                  
                </table>
              </div>
              <br>                    
                    </div>
                  </body>
                  </html>
