<ul>
  <li>Pick game</li>
  <li>pick mode</li>
  <li>--if c4---</li>
  <li>roll a die for first/second</li>
  <li>make a 7x6 grid </li>
  <li>show the char menus for disabling </li>
  <li>start button </li>
  <li>two players have their "active character"  </li>
  <li>click active char to say who won </li>
  <li>Click grid spot to place tile, make a distinction as to who won that round </li>
  <li>check if someone connected 4  </li>
  <li> </li>
  <li> </li>
  <li> </li>
  <li> </li>
</ul>
<table>
  <tr>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
  </tr>
  
  <tr>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
  </tr>
  
  <tr>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
  </tr>
  
  <tr>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
  </tr>
  
  <tr>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
  </tr>
  
  <tr>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
    <td>f</td>
  </tr>
  
  
</table>
